.intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F9F8FE;
    text-align: left;

    &__title{
        font-size: 2.2rem;
    }

    &__text1, &__text2{
        color: black;
        max-width: 65%;
        font-size: 1rem;
        line-height: 1.5;
    }

    &__col2{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 2rem;
        justify-self: start;
        width: 100%;
        
        &__img{
            height: 350px;
            width: 85%;
            margin-right: 4rem;
        }
    }

    &__link{
        color: hsl(170, 45%, 43%);
        text-decoration: none;
        border-bottom: 2px solid hsl(170, 45%, 43%);
        padding-bottom: 5px;
        font-size: 0.8rem;

        &__img{
            vertical-align: middle;
            
        }
    }

    &__quote{
        width: 300px;
        background-color: #fff;
        padding: 1.5rem;
        margin-top: 3rem;
        border-radius: 5px;
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);

        p{
            color: #000;
        }

        &__text{
            font-size: 0.8rem;
            line-height: 1.4;
        }

        &__profile{
            display:flex;
            font-size: 0.8rem;
            align-items: center;
        
        p{
            margin: 0.5rem;
        }

        &__text > &__name{
            margin-top: 0.5rem;
            font-weight: 700;
        }

        &__position{
            font-weight: lighter;
        }

        &__img{
            width: 50px;
            height: 50px;
            border-radius: 100px;
            margin-right: 1rem;
        }
    }
    }

    @media(min-width:770px) and (max-width: 910px){
        &__col2{
            justify-content:flex-start;
        }
    }

    @media(max-width: 768px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        &__quote{
            margin-left: auto;
            margin-right: auto;
        }

        &__col2{
            order: -1;
            margin-bottom: 1.5rem;
            margin-left: 0;

            &__img{
                margin-right: 0;
            }
        }

        &__title{
            text-align: center;
            font-size: 1.5rem;
        }

        &__text{
            max-width: 65%;
            margin: 1rem auto;
            font-size: 1rem;
        }

        &__link-container{
            text-align: center;
        }
    }

    @media(max-width:550px){

        grid-template-columns: 1fr;
        grid-template-rows: 330px 1fr;

        &__quote{
            width: 270px;
            padding: 1rem;
            margin-left: auto;
            margin-right: auto;
        }

        &__col2{
            order: -1;

            &__img{
                height: 250px;

            }
            margin-bottom: 4rem;
        }
        &__title{
            font-size: 1rem;
            text-align: center;
        }

        &__text{
            max-width: 85%;
        }

        &__link-container{
            text-align: center;
        }

    }

}